.kio-base-control-buttons-area {
  clear: both;
}

//kio boxes

.kio-base-box {
  background-color: #cccccc;
  margin: 6px;
  box-shadow: 0 0 0 1px #bdbdbd,
              0 0 0 2px #a9a9a9,
              0 0 0 3px #939393,
              0 0 0 4px #7e7e7e,
              0 0 0 5px #686868,
              0 0 0 6px #525252;
}

.kio-base-box:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@import "push-and-pull";

//info panels
.kio-base-info-panel {
  font-family: Verdana, sans-serif;
  display: inline-block;

  .kio-base-control-button {
    margin: 1em auto;
    display: block;
  }
}

.kio-base-info-panel-param-value {
  font-weight: bold;
  padding-left: 1em;
  text-align: right;
}

.kio-base-info-panel-head {
  font-weight: bold;
}

.kio-base-results-info-panel {
  float: left;
}

.kio-base-record-info-panel {
  float: right;
}

.kio-base-clear-both {
  clear: both;
}

//control buttons

.kio-base-control-button {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 1px #d3d3d3,
              0 0 0 2px #b8b8b8,
              0 0 0 3px #9e9e9e,
              0 0 0 4px #868686,
              0 0 0 5px #696969,
              0 0 0 6px #5a5a5a;
  border: none;
  margin: 6px;
  display: inline-block;
  outline: none;
  font-family: Verdana, sans-serif;
}

.kio-base-control-button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #e9e9e9,
              0 0 0 2px #cacaca,
              0 0 0 3px #acacac,
              0 0 0 4px #8d8d8d,
              0 0 0 5px #6e6e6e,
              0 0 0 6px #5a5a5a;
}

.kio-base-control-button:active {
  background-color: #b3b3b3;
  box-shadow: 0 0 0 1px #a3a3a3,
              0 0 0 2px #8c8c8c,
              0 0 0 3px #777777,
              0 0 0 4px #616161,
              0 0 0 5px #494949,
              0 0 0 6px #404040;
}

.kio-base-controls-container {
  @extend .kio-base-box;
  margin-top: 8px;
  clear: both;
  background-color: #cccccc;
  padding: 0.2em 0.4em;
  font-family: Verdana, sans-serif;

  .kio-base-info-panels-container {
    @extend .kio-base-push-and-pull;
    background-position: center;
    background-repeat: no-repeat;
  }

  .title {
    margin-top: 1em;
    font-weight: bold;
  }

  .kio-base-solutions-container {
    .kio-base-new-solution {
      input {
        font-size: 1em;
        margin: 6px 10px;
        font-weight: bold;
        padding: 0 4px;

        border: none;
        box-shadow: 0 0 0 1px #e9e9e9,
                    0 0 0 2px #cacaca,
                    0 0 0 3px #acacac,
                    0 0 0 4px #8d8d8d,
                    0 0 0 5px #6e6e6e,
                    0 0 0 6px #5a5a5a;
      }

      margin: 0.4em 0;
    }

    .kio-base-stored-solution {
      td.first {
        font-weight: bold;
        padding-right: 1em;
      }
    }
  }
}