.kio-button {

}

.kio-info-panel {
  font-family: Verdana, sans-serif;
  display: inline-block;
}

.kio-info-panel-param-value {
  font-weight: bold;
  padding-left: 1em;
  text-align: right;
}

.kio-info-panel-head {
  font-weight: bold;
}

.kio-results-info-panel {
  float: left;
}

.kio-record-info-panel {
  float: right;
}

.kio-control-buttons-area {
  clear: both;
  padding-top: 1em;
}

.kio-control-button {
  margin: 0.2em;
}