.number-input {
  display: block;
  font-size: 1.4em;
}

.steps-view {
  display: block;
  font-size: 1.4em;
  width: 100%;
  height: 300px;
}

.kio-collatz-input-output-wrapper {
  margin-right: 311px;
  padding: 0 1em 0 0;
}

.kio-collatz-info-image {
  float: right;
}